.dialog {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121213;
    border-radius: 8px;
    animation: fade-up 0.35s 1 ease-out forwards;
}

.description {
    font-size: 18px;
}

.dialog-btn {
    width: 152px;
    height: 44px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid white;
}

.dialog-btn-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.dialog-cancel-btn {
    background-color: transparent;
    color: white;
}

.centered {
    z-index: 1;
    position: absolute;
    top: 40%;
}

@keyframes fade-up {
	from {
		opacity: 0;
        transform: translateY(2rem);
	}
	to {
		opacity: 1;
        transform: translateY(0);
	}
}