.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 2rem;
}

.keyrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.key {
    background-color: #818384;
    color: #F8F8F8;
    border-radius: 4px;
    width: 42px;
    height: 58px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key.incorrect {
    background-color: #3a3a3c;
}

.key.correct {
    background-color: #538d4e;
}

.key.almost-correct {
    background-color: #b59f3b;
}

.key.spl-key {
    width: 66px;
}

.key.enter {
    font-size: 12px;
}

.key.delete {
    font-size: 22px;
}

@media only screen and (max-width: 780px) {
    .key {
        width: 32px;
        height: 48px;
    }

    .key.spl-key {
        width: 46px;
    }

    .key.enter {
        font-size: 10px;
    }

    .key.delete {
        font-size: 20px;
    }
}